.leftContainer{
    /* width: 50%;
    padding-right: 120px; */
    margin: 15px 0 0 20px;
}

.whoAmIText{
    font-size: 16px;
}

.anto-pic{
    margin-top: 30px; 
}

.quote-container{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.5em;
}