body{
    font-family: 'Ubuntu';
}

.greenText{
    color: #8fc249;
}

h2{
    color: #8fc249;
    font-size: 2em;
    line-height: 2em;
    font-variant: small-caps;    
}

.spumante-text{
    font-family: 'Spumante';
}

.main-content{
    position: relative;
    margin-top: 60px;
}

.text-big{
    font-size: 2.5em;    
}

a.plain-link, a.plain-link:visited{
    color: black;    
}

a.plain-link:hover{
    text-decoration: none;
    color: black;    
}