@font-face {
  font-family: 'Spumante';
  src: url('../../fonts/Spumante.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu-L.ttf');
  font-weight: normal;
  font-style: normal;
}