nav.navbar-default{
    background-color: #8fc249;
    height: 15px;
    border-radius: 0;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

button.navbar-toggle {
    z-index:3;
}

.bigLogoImg{
    width: 180px;
    margin-top: -80px;
}

.top-header-text{
    font-size: 2.5em;
}

.text-menu{
    text-align: center;
    font-size: 2em;
    font-variant: small-caps;
    color: black;
}

.big-header-container{
    height: "180px";
    width: "98%";
    position: "relative"; 
    top: 0; 
    z-index: 1039; 
    background-color: blue;
}

.sticky-header-container{
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: green;
}

.whiteDiv{
    width: 180px;    
    background-color: white;
    margin: auto;    
}

.cucu-Menu{
    margin-top: -7px;
}

.header-container{
    z-index: 5;
}

.logo-replace-text{
    font-size: 1.5em;
    height: 63px;
    margin-top: -30px;
    padding-top: 25px;
}

.right-padding-ag{
    margin-right: 10px;
}

.test-first-div{
    background-color: blue; 
    height: 300px;
}

.test-second-div{
    background-color: green; 
    height: 150px;
}

.top-menu-container{
    width: 98%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent !important;
}